.font-blue {
  color: #00bba5;
}

ul > li.blue, .label-blue {
  background: #00bba5;
}

.progress .bar.bar-blue {
  background: #00bba5;
}

.pricing-tables .pricing.blue > li.head {
  background: #00bba5;
}
.pricing-tables .pricing.blue > li.head .info {
  background: #00d5bc;
}
.pricing-tables .pricing.blue > li.head .name {
  background: #008878;
}

.btn.btn-blue {
  background: #00bba5;
  color: #fff !important;
}
.btn.btn-blue:hover {
  background: #008878;
}

.box.box-color.blue .box-title {
  background: #00bba5 !important;
}
.box.box-color.blue .box-title .actions > a:hover {
  color: #00bba5;
}
.box.box-color.blue .form-wizard .wizard-steps li.active .single-step .title {
  background: #00bba5;
}
.box.box-color.blue .btn.btn-primary {
  background: #00bba5;
}
.box.box-bordered.box-color.blue .box-title {
  border-color: #00bba5 !important;
}
.box.box-bordered.box-color.blue .box-content {
  border-color: #00bba5 !important;
}
.box.box-bordered.box-color.blue .slimScrollDiv {
  border-bottom: 2px solid #00bba5;
}

.timeline > li .timeline-content .left .icon.blue {
  background: #00bba5;
}

.theme-blue .daterangepicker .active {
  background: #00bba5;
}
.theme-blue .mobile-sidebar-toggle {
  color: #fff;
}
.theme-blue #navigation .dropdown-menu {
  border-color: #00bba5;
}
.theme-blue #navigation .dropdown-menu > li.dropdown-submenu .dropdown-menu {
  border-top: 2px solid #00bba5;
}
.theme-blue #navigation .dropdown-menu > li.dropdown-submenu:hover > a, .theme-blue #navigation .dropdown-menu > li.dropdown-submenu:focus > a {
  background: #00bba5;
}
.theme-blue #navigation .dropdown-menu > li > a:hover {
  background: #00bba5;
}
.theme-blue .datepicker.datepicker-dropdown .datepicker-days .active, .theme-blue .datepicker.datepicker-dropdown .datepicker-years .active, .theme-blue .datepicker.datepicker-dropdown .datepicker-months .active {
  background: #00bba5;
}
.theme-blue .datepicker.datepicker-dropdown .datepicker-days .active:hover, .theme-blue .datepicker.datepicker-dropdown .datepicker-years .active:hover, .theme-blue .datepicker.datepicker-dropdown .datepicker-months .active:hover {
  background: #008878;
}
.theme-blue .form-wizard .wizard-steps li.active .single-step .title {
  background: #00bba5;
}
.theme-blue .btn.btn-primary {
  background: #00bba5;
}
.theme-blue.login {
  background: #00bba5;
}
.theme-blue a {
  color: #00bba5;
}
.theme-blue .btn {
  color: #333;
}
.theme-blue .btn.btn-primary {
  background: #00bba5;
  color: #fff;
}
.theme-blue .btn.btn-inverse, .theme-blue .btn.btn-success, .theme-blue .btn.btn-danger {
  color: #fff;
}
.theme-blue.locked {
  background: #00bba5 !important;
}
.theme-blue.locked .pull-left a {
  background: #006f62;
}
.theme-blue.locked .pull-left a:hover {
  background: #003c35;
}
.theme-blue #navigation {
  background: #00bba5;
}
.theme-blue #navigation .toggle-mobile {
  background: #006f62;
}
.theme-blue #navigation .mobile-nav.open {
  background: #00bba5;
}
.theme-blue #navigation .mobile-nav.open > li.active > a {
  background: #003c35;
}
.theme-blue #navigation .mobile-nav.open > li.active > ul {
  background: #003c35;
}
.theme-blue #navigation .mobile-nav.open > li > a {
  background: #006f62;
}
.theme-blue #navigation .mobile-nav.open > li > ul {
  background: #006f62;
}
.theme-blue #navigation .main-nav > li.active > a:hover {
  background: #fff;
}
.theme-blue #navigation .main-nav > li.active.open > a {
  background: #fff;
}
.theme-blue #navigation .main-nav > li.open > a {
  background: #006f62;
}
.theme-blue #navigation .main-nav > li > a:hover {
  background: #006f62;
}
.theme-blue #navigation .user .icon-nav > li > a:hover {
  background: #006f62;
}
.theme-blue #navigation .user .dropdown.open {
  background: #006f62;
}
.theme-blue #navigation .user .dropdown > a:hover {
  background: #006f62;
}
.theme-blue #navigation .dropdown-menu {
  border-color: #00bba5;
}
.theme-blue #navigation .dropdown-menu > li > a:hover {
  background: #00bba5;
}
.theme-blue .search-form .search-pane button[type="submit"] {
  background: #00bba5;
}
.theme-blue .messages > li.insert .submit button {
  background: #00bba5;
}
.theme-blue .messages > li.right .name {
  color: #0a2640;
}
.theme-blue .messages > li.right .message {
  background: #88fff1;
}
.theme-blue .messages > li.right .message p {
  color: #00221e;
}
.theme-blue .messages > li.right .message .time {
  color: #00221e;
}
.theme-blue .messages > li.right .message .caret {
  border-left: 7px solid #88fff1;
}
.theme-blue .letterbox .letter > li.active {
  background: #00bba5;
}
.theme-blue .calendar .fc-content .fc-event .fc-event-inner {
  background: #00bba5;
}
.theme-blue .calendar .fc-button.fc-state-active {
  background: #00bba5;
}
.theme-blue .calendar .fc-button.fc-state-active:hover {
  background: #00bba5;
}
.theme-blue .table.table-user tr.alpha td.alpha-val span {
  background: #00bba5;
}
.theme-blue .tagsinput#textfield_tagsinput .tag, .theme-blue .ms-container .multi-custom-header, .theme-blue .slider .ui-slider-handle, .theme-blue .form-wizard .wizard-steps li.active .single-step .title, .theme-blue .user-list h4, .theme-blue .nav.nav-pills > li.active > a, .theme-blue .nav.nav-list > li.active > a, .theme-blue .table.table-colored-header thead th, .theme-blue .table.table-colored-header thead td, .theme-blue .dataTables_wrapper .dataTables_paginate > span > a.paginate_active, .theme-blue .elfinder-navbar .ui-state-active, .theme-blue .pagination.pagination-custom li.active a:hover, .theme-blue .pagination.pagination-custom li.active a {
  background: #00bba5;
}
.theme-blue .elfinder-navbar .ui-state-active {
  border-color: #00bba5;
}
.theme-blue #main .box .box-title .tabs > li.active > a {
  background: #00bba5;
}
.theme-blue #main .box.box-color .box-title {
  background: #00bba5;
}
.theme-blue #main .box.box-color .box-title .tabs > li.active > a {
  background: #fff;
  color: #00bba5;
}
.theme-blue #main .box.box-color .box-title .tabs > li > a:hover {
  color: #00bba5;
}
.theme-blue #main .box.box-bordered.box-color .box-title {
  border-color: #00bba5;
}
.theme-blue #main .box.box-bordered.box-color .box-content {
  border-color: #00bba5;
}

.accordion-widget .accordion-group.orange {
  border: 2px solid #f8a31f;
}
.accordion-widget .accordion-group.orange:hover {
  border-color: #dd8907 !important;
}
.accordion-widget .accordion-group.orange .accordion-toggle {
  background: #f8a31f !important;
  color: #fff;
}
.accordion-widget .accordion-group.orange .accordion-toggle:hover {
  background: #dd8907 !important;
}

